{%- liquid
  assign show_breadcrumb = false

  if template.name == 'product' and product != blank
    assign show_breadcrumb = true
  elsif template.name == 'collection' and collection != blank
    assign show_breadcrumb = true
  endif
-%}

{%- if show_breadcrumb -%}
  <div class="section-background color-{{ section.settings.color_scheme }}"></div>
  <div
    class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  >
    <div
      class="spacing-style breadcrumb-content"
      style="{% render 'spacing-style', settings: section.settings %}"
    >
      {%- if template.name == 'product' -%}
        {% render 'breadcrumb', product: product %}
      {%- elsif template.name == 'collection' -%}
        {% render 'breadcrumb', collection: collection %}
      {%- endif -%}
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Breadcrumb",
  "tag": "section",
  "class": "breadcrumb-section-wrapper",
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Width",
      "options": [
        {
          "value": "page-width",
          "label": "Page"
        },
        {
          "value": "full-width",
          "label": "Full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16
    }
  ],
  "enabled_on": {
    "templates": ["product", "collection"]
  },
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}
